.descr {
    color: #333;
    text-align: center;
    padding:10px;
}

.container{
    width: 800px;
    border: 1px solid #ccc;
    background-color: white;
    padding: 10px;
    
    margin-left: -8px;
    margin-top: -8px;
}
.row-outer{
    display: flex;
    align-items: center;
    justify-content: center;
}
.outher{
    width: 805px;
    border-radius: 5px;
    background-color: #1abc9c;
    margin-top:10px;
    padding-bottom: 30px;
}

.carousel-inner{
    height: 500px;
    overflow: hidden;
    object-fit: fill;
    object-position: center;
}

img{
    object-fit: cover;
    object-position: center; /* Center the image within the element */
    width: 100%;
}

.footer{
    color: white;
    margin: 20px;
}