<form #registerForm='ngForm' (ngSubmit)='onRegisterSubmit()'>
    <table class='example-full-width' cellspacing='0'>
        <tr>
            <td>
                <input required placeholder='First name' name="firstName" [(ngModel)]="user.firstName">
            </td>
        </tr>
        <tr>
            <td>
                <input required placeholder='Last name' name="lastName" [(ngModel)]="user.lastName">
            </td>
        </tr>
        <tr>
            <td>
                <input required mdInput placeholder='Username' name="username" [(ngModel)]="user.username">
            </td>
        </tr>
        <tr>
            <td>
                <input required placeholder='Password' type='password' name="password" [(ngModel)]="user.password">
            </td>
        </tr>
        <tr>
            <td>
                <button>Register</button>
            </td>
        </tr>
    </table>
</form>