<form #loginForm='ngForm' (ngSubmit)='onLoginSubmit()'>
    <table class='example-full-width' cellspacing='0'>
        <tr>
            <td>
                <input required placeholder='Username' name="username" [(ngModel)]="user.username">
            </td>
        </tr>
        <tr>
            <td>
                <input required placeholder='Password' type='password' name="password" [(ngModel)]="user.password">
            </td>
        </tr>
        <tr>
            <td>
                <button>Login</button>
            </td>
        </tr>
    </table>
</form>