<nav class="navbar">
    <div class="container-fluid">
        <ul class="nav nav-tabs">
            <li class="nav-item" (click)="setActiveItem('home')">
                <a class="nav-link" [class.active]="activeItem == 'home'" [routerLink]="['/']">Home</a>
            </li>
        </ul>
        <ul class="nav nav-tabs navbar-right">
            <li class="dropdown" *ngIf="isUserLogged == true">
                <a class="nav-link" class="dropdown-toggle" data-toggle="dropdown" href="#">
                    <span class="caret">{{username}} </span>
                </a>
                <ul class="dropdown-menu">
                    <li>
                        <a class="nav-link dropdown-link" [routerLink]="['/user/edit']">Edit profile</a>
                    </li>
                    <li>
                        <a class="nav-link dropdown-link" [routerLink]="['/auth/logout']">Logout</a>
                    </li>
                </ul>
            </li>
            <li class="nav-item" *ngIf="isUserLogged==false" (click)="setActiveItem('register')">
                <a class="nav-link" [class.active]="activeItem == 'register'" [routerLink]="['/auth/register']">Register</a>
            </li>
            <li class="nav-item" *ngIf="isUserLogged==false" (click)="setActiveItem('login')">
                <a class="nav-link" [class.active]="activeItem == 'login'" [routerLink]="['/auth/login']">Login</a>
            </li>
        </ul>
    </div>
</nav>