<div class="video-container">
    <h1>Find you new roommate</h1>
    <p class="motivation">"Things are never quite as scary when you've got a roommate"</p>
    <p class="destinationsPara">
        <a id="explore" [routerLink]="['/offers/all']" class="btn btn-primary btn-sm">Roomates Here</a>
    </p>
    <video class="home-video" loop autoplay>
        <source src="/uploads/Suburbia.webm" type="video/webm">
    </video>
</div>

<div class="container marketing main-content">
    <!-- Three columns of text below the carousel -->
    <div class="row">
        <div class="col-lg-4" appNavColor>
            <img class="rounded-circle" src="/uploads/our-goals.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2 class="for-testing">Our Goals</h2>
            <p>Our main purpose is to help people find their dream place for living and the perfect people to live with. FindARoomate saves you the struggle of walking from door to door and leaving disappointed at the end of the day.
            </p>
            <p><a class="btn btn-secondary" [routerLink]="['/offers/all']" role="button">Find your dream place »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" appNavColor>
            <img class="rounded-circle" src="/uploads/no-brocker.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>No Brokers Needed</h2>
            <p>If you think that you're already living at the prefect place but do not have the right people to share it with, just upload the room or place that you offer without the need to spend tons of money for broker agencies.
            </p>
            <p><a class="btn btn-secondary" href="#" role="button">Add You Offer »</a></p>
        </div>
        <!-- /.col-lg-4 -->
        <div class="col-lg-4" appNavColor>
            <img class="rounded-circle" src="/uploads/socialize.jpg" alt="Generic placeholder image" width="140" height="140">
            <h2>Just Socialize</h2>
            <p>If you're neither looking for a place nor offering one you can still have plenty of fun by commenting on different offers or rate other users. This way you can help other people with their choice and even make new friends
            </p>
            <p><a class="btn btn-secondary" [routerLink]="['/user/all']" role="button">Connect Others »</a></p>
        </div>
        <!-- /.col-lg-4 -->
    </div>
    <!-- /.row -->


    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">
</div>