<!-- <div *ngFor="let offer of offers">  
  <div>Title: {{offer.title}}</div>
</div>  -->

<!-- Reference: https://github.com/ashleydw/lightbox/ -->
<script src="//rawgithub.com/ashleydw/lightbox/master/dist/ekko-lightbox.js"></script>
<main>
    <div class="container mt40">
        <section class="row">
            <article class="col-xs-12 col-sm-8 col-md-6 col-lg-4" *ngFor="let offer of offers">
                <div class="panel panel-default">
                    <div class="panel-body offer-image">
                        <a [routerLink]="['/offers/', offer._id]" title="Image" class="zoom" data-type="image" data-toggle="lightbox">
                            <img class="offer-image" src="{{offer.image1}}" alt="Image" />
                            <span class="overlay"><i class="glyphicon glyphicon-fullscreen"></i></span>
                        </a>
                    </div>
                    <div class="panel-footer">
                        <h5><a href="#" class="a" title="Image">{{offer.title}}</a></h5>
                        <h5 class="a">{{offer.price}} BGN</h5>
                    </div>
                </div>
            </article>
        </section>
    </div>
</main>

<div *ngIf="totalElementsCount">
    <app-pagination (pageChangedEmitter)="onPageChanged($event)" [currentPage]="currentPage" [totalElementsCount]="totalElementsCount" [size]="pageSize"></app-pagination>
</div>